@reference "tailwindcss";
/* fazendo o @apply funcionar
 você também pode usar css normal sem nenhum problema caso seja mais prático no caso
 mas tente manter a consistência com o tailwind na maior parte do projeto */

.login__input {
  padding: 14px 24px;
  width: 100%;
  border: 1px solid #808080;
  border-radius: 8px;
}
.login__input::placeholder {
  font-size: 16px;
  @apply text-gray-500;
}

.login__button {
  padding: 13px 0;
  width: 100%;
  @apply rounded-lg font-bold text-2xl text-white bg-blue-500 cursor-pointer;
}
