.login__input {
  border: 1px solid #808080;
  padding: 14px 24px;
  @apply w-full rounded-lg;
}
.login__input::placeholder {
  font-size: 16px;
  @apply text-gray-500;
}

.login__button {
  padding: 13px 0;
  @apply w-full rounded-lg font-bold text-2xl text-white bg-blue-500;
}
